<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Image Gallery </h1>
		<div>
            <form action="/imageSearchByPoster" method="post">
                <input type="text" name="poster" placeholder="Enter Poster by Username" required/>
                <br/>
                <input type="submit" value="Search By Poster">
            </form>
        </div>
        <div>	
            {% for image in images %}
			<br>
			<br>
			<br>
			{{image.filepath}}
			<br>
			PhotoID: {{image.photoID}} 
			<br>
			Posted By: {{image.photoPoster}}
			<br>
			 <td><form action="/image_info" method="post"><input type="submit" value="More Info"><input type="hidden" name="photoID" value={{image.photoID}}></form></td>
			<br>
            {% endfor %}
        </div>
        <a href="/">Go back</a>
    </body>
</html>
