<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload an Image!</h1>
        <div>
            <form action="/uploadresult" method="post" enctype="multipart/form-data">
                <input type="file" name="imageToUpload" accept="image/*">
                <br/>
                <input type="radio" name="AllFollowers" value="1" checked> Visible to all followers
                <br/>
				{% if groups %}
                <input type="radio" name="AllFollowers" value="0"> Visible to group members only
                <br/>
				{% for group in groups %}
					<input type="checkbox" name="{{group.groupName}}" value="{{group.owner_username}}"> {{group.groupName}}
					<br>
				{% endfor %}
				{% endif %}
                Caption: <input type="text" name="caption">
                <br/>
                <input type="submit" value="Upload">
            </form>
        </div>
        <br/>
        <a href="/">Go back</a>
    </body>
</html>